/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.active {
    border-bottom: 2px solid #ffd700; 
  }
  
  .header{
    font-family: 'poppins';
    font-size: 18px;
  }
  .navbar {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .nav-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    margin-right: 20px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
  }
  
  .nav-menu li:hover {
    color: #ffd700;
    transition: color 0.3s ease;
     
  }
  
  .nav-login-cart {
    display: flex;
    align-items: right;
    
  }


  
  .nav-login-cart button {
    color: #1e212d;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s ease; 
  }
  
  .nav-login-cart button:hover {
    background-color: #fcf8f2bd;
  }
  
  .nav-login-cart img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  @keyframes cart-bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }
  
  .nav-login-cart img:hover {
    animation: cart-bounce 0.5s ease; 
  }

  .nav-cart-count {
    background-color: #ff1100;
    color: #000000;
    border-radius: 50%;
    padding: 0px 3px;
    font-size: 10px;
    position: absolute;
    top: 6px;
    right: 14%;
    min-width: 10px;
    text-align: center;
  }

  
  .profile-icon {
    cursor: pointer;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  @media(max-width:1280px){
    .navbar{
      padding: 12px 50px;
    }
    .nav-logo img{
      width: 50px;
    }
    .nav-logo p{
      font-size: 25px;
    }
  }
  